{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="card box-shadow m-2 from-w">
            <a href="/differentiator">
                <button class="btn btn-primary">Назад</button>
            </a>
            <div class="card-header text-center">
                <h3> Вычисление Диффура второго порядка методом Эйлера</h3>
            </div>

            <form id="form" class="p-3" action='' method="POST">
                {% csrf_token %}
                <div class="text-center">
                    Начальные значения без ввода:
                    <hr>
                    y" + y' / x + y = 0
                    <hr>
                    на интервале [1; 1.5] с начальными условиями:
                    <hr>
                    y = 0.77; y' = -0.44 
                    <hr>
                </div>
                
                {% if ans %}
                    <div class="card col-6 p-0 m-auto">
                        <div class="card-header text-center">
                        <div class="card-body">
                            <br>Ответ:
                            <div id="ans-text" class="scrollable-list">
                                {{ ans }}
                            </div>
                            
                            
                        </div>
                        
                        <div class="button">
                            <button onclick="copyToClipboard()" name="copy" id="copy" type="submit" class="btn copy-button"></button>
                        </div>
                        <script>
                            function copyToClipboard() {
                                var ansText = document.getElementById('ans-text').innerText;
                                var tempTextarea = document.createElement('textarea');
                              
                                tempTextarea.value = ansText;
                                document.body.appendChild(tempTextarea);
                                tempTextarea.select();
                                document.execCommand('copy');
                                document.body.removeChild(tempTextarea);
                            }
                        </script>
                        

                    </div>
                {% endif %}
                <hr>
                <hr>
                <div class="submit-btn mt-3">
                    <button name="sub" id="conv" type="submit" class="btn btn-primary">Рассчитать</button>
                </div>
                </br>
            </form>
        </div>
    </div>
</div>
{% endblock %}