{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="card box-shadow m-2 from-w">
            <a href="/">
                <button class="btn btn-primary">Назад</button>
            </a>
            <div class="card-header text-center">
                <h1> Суворов Роман, Гневнов Артем, Васильева Елизавета  </h1>
                <div class="">
                    <p>Студенты РГПУ им. Герцена, ИИТТО, ИВТ 2 курс</p>
                    <p>Данное портфолио создано студентами РГПУ имени Герцена с целью размещения на нем информации о выполненных работах</p>
                </div>

                <h3>Ссылки на профили replit с выполненными работами:</h3>
                <div class="projects">
                    <a href="https://replit.com/@tot-kogho-siest/" class="project-link">Суворов Роман</a>
                    <a href="https://replit.com/@gnevnov1996" class="project-link">Гневнов Артем</a>
                    <a href="https://replit.com/@elizavetavasil1/" class="project-link">Васильева Елизавета</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}